
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Custom styles package
@import '~src/styles/package';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$fresh-angular-typography: mat.define-typography-config(
  $font-family: $fresh-angular-font-family-default,
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($fresh-angular-typography);

// Theme resets
@import '~src/styles/themes/theme.reset';

@mixin custom-components-theme($theme) {
  @include fresh-angular-styles-reset-theme($theme);
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fresh-angular-primary-default: mat.define-palette(mat.$teal-palette, 600, 400, 800);
$fresh-angular-accent-default: mat.define-palette(mat.$deep-orange-palette, 700, 500, 900);
$fresh-angular-primary-dark: mat.define-palette(mat.$lime-palette, 600, 400, 800);
$fresh-angular-accent-dark: mat.define-palette(mat.$pink-palette, 700, 500, 900);

// The warn palette is optional (defaults to red).
$fresh-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fresh-angular-default-theme: mat.define-light-theme((
  color: (
    primary: $fresh-angular-primary-default,
    accent: $fresh-angular-accent-default,
    warn: $fresh-angular-warn,
  )
));

$fresh-angular-dark-theme: mat.define-dark-theme((
  color: (
    primary: $fresh-angular-primary-dark,
    accent: $fresh-angular-accent-dark,
    warn: $fresh-angular-warn,
  )
));

// Include the various themes styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.default-theme {
  @include mat.all-component-themes($fresh-angular-default-theme);
  @include custom-components-theme($fresh-angular-default-theme);
}

.dark-theme {
  @include mat.all-component-themes($fresh-angular-dark-theme);
  @include custom-components-theme($fresh-angular-dark-theme);
}
