@import "./variables";
@import "./mixins";

.clickable {
	@include unselectable();
	cursor: pointer;
}

.text-bold {
	font-weight: bolder;
}

.text-large {
	font-size: $bookish-guacamole-font-size-large;
}

.text-small {
	font-size: $bookish-guacamole-font-size-small;
}
