// typography
// fallback font families are configured in material base theming
// --------------------------------------------------------------
$fresh-angular-font-family-default: 'Lato';
$bookish-guacamole-font-size-base: 16px;
$bookish-guacamole-font-size-large: 18px;
$bookish-guacamole-font-size-small: 14px;
